/esper/doc/esper-jdocbook-style/target
/esper/doc/esper-jdocbook-xslt/target
/esper/doc/javadoc/api
/esper/target
/esper/copy.cmd
/esperio-amqp/target
/esperio-csv/target
/esperio-socket/target
/esperio-springjms/target
/esperio-db/target
/esperio-http/target
/esperio-stax/target
/esperio/doc/reference/target
/esperio/doc/javadoc/api
/examples/target
/examples/cycledetect/lib
/examples/**/target
/intellij

