/target
/esper/target
/esper/copy.cmd
/esperio-amqp/target
/esperio-csv/target
/esperio-socket/target
/esperio-springjms/target
/esperio-db/target
/esperio-http/target
/esperio-stax/target
/esperio-kafka/target
/esper-avro/doc/javadoc/api
/examples/target
/examples/cycledetect/lib
/examples/**/target
/intellij
/intellij_template

/esperio-kafka/lib/*.jar
/install.cmd
/target/esper-parent-*.jar
/target/maven-archiver/pom.properties
/copy.cmd
/esperio-springjms/lib/*.jar
/esper/lib/*.jar
/common-avro/lib/*.jar
/common/lib/*.jar
/compiler/lib/*.jar
/esperio/esperio-amqp/lib/*.jar
/esperio/esperio-http/lib/*.jar
/esperio/esperio-kafka/lib/*.jar
/esperio/esperio-springjms/lib/*.jar
/common-avro/target
/common/target
/compiler/target
/regression-lib/target
/regression-run/target
/runtime/target
/esperio/esperio-amqp/target
/esperio/esperio-csv/target
/esperio/esperio-db/target
/esperio/esperio-http/target
/esperio/target
/esperio/esperio-kafka/target
/esperio/esperio-socket/target
/esperio/esperio-springjms/target
/doc/javadoc
/esperio/doc/javadoc
