/target
/esper/doc/reference/target
/esper/doc/esper-jdocbook-style/target
/esper/doc/esper-jdocbook-xslt/target
/esper/doc/javadoc/api
/esper/target
/esper/copy.cmd
/esper-avro/lib
/esper-avro/target
/esper-regression/target
/esperio-amqp/target
/esperio-csv/target
/esperio-socket/target
/esperio-springjms/target
/esperio-db/target
/esperio-http/target
/esperio-stax/target
/esperio-kafka/target
/esperio/doc/reference/target
/esperio/doc/javadoc/api
/esper-avro/doc/javadoc/api
/examples/target
/examples/cycledetect/lib
/examples/**/target
/intellij
/esper-java7/src/main/java
/esper-java7/target

/esperio-kafka/lib/*.jar
/install.cmd
/target/esper-parent-*.jar
/target/maven-archiver/pom.properties
/copy.cmd
/esperio-springjms/lib/*.jar
/esper/lib/*.jar
